.card {
  --card-width: 125px;
  --card-height: 175px;

  border-radius: 10px;
  background-image: url('/pap.png');
  border: 4px solid rgba(0,0,0,0.5);

  max-width: var(--card-width);
  min-width: var(--card-width);

  max-height: var(--card-height);
  min-height: var(--card-height);

  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;

  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  transition: 0.2s;
}

.card .card-picture {
  font-size: 3rem;
}

.card-enabled:hover {
  /* We should be able to click on any enabled card */
  cursor: pointer;
}

.card-enabled.card-displayed:hover {
  /* We should able to select any non-empty enabled card */
  transform: scale(1.1,1.1);
  box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
}

.card-empty {
  background-color: rgba(255, 255, 255, 0.75) !important;
  background-image: none;
  box-shadow: none !important;
  border: 4px solid grey!important;
  transition: 0s !important;
}

.card-empty.card-disabled {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.card-enabled.card-empty:hover {
  background-color: greenyellow !important;
}

.card-selected {
  border-color: green;
  transform: scale(1.1,1.1);
  box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
}
