
.player-status {
  --bubble-size: 50px;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border: 1px solid grey;
  border-block-end: none;
}

.player-status-inner-container {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  align-content: center;
}

.player-status-name {
  background-color: azure;
  border: 1px solid grey;
  padding: 0.2rem;
  text-align: center;
  font-weight: bold;
}

.player-status .player-status-circle {
  background-color: white;
  font-weight: bold;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

  min-width: var(--bubble-size);
  max-width: var(--bubble-size);
  height: 100%;

  background-color: rgba(0,0,0,0.2);

}