
.player-avatar {
  background-image: url("/ava.jpg");
  background-size: contain;

  --size: 4rem;

  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);

  border-radius: var(--size);
  border: 4px solid rgba(0,0,0,0.5);

  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.player-name {
  position: relative;
  background-color: white;
  top: 2.2rem;
  font-weight: bold;
  padding: 0.25rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  border: 2px solid rgba(0,0,0,0.25);
}