
.player-status {
  --bubble-size: 50px;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.player-status .player-status-health {
  background-color: white;
  border-radius: 100%;
  font-weight: bold;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

  min-width: var(--bubble-size);
  min-height: var(--bubble-size);
  max-width: var(--bubble-size);
  max-height: var(--bubble-size);

  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.player-status .player-status-cards {
  background-color: white;
  border-radius: 100%;
  font-weight: bold;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

  min-width: var(--bubble-size);
  min-height: var(--bubble-size);
  max-width: var(--bubble-size);
  max-height: var(--bubble-size);

  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}